.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid pink;
}

.entry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
    width: 50%;
    margin-top: 20px;
    padding: 20px;

}

.results-container {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    width: 50%;
    margin: 40px;
    padding: 20px;
}

.result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    margin: 10px;
    padding: 10px;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 100%;
    margin-top: 370px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


li {
    list-style-type: none;
    margin: 10px 5px;
    padding: 5px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid green;
    width: 90%;

}

a {
    text-decoration: none;
    color: black;

}

.performance-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.performance-graph {
    border: 1px solid red;
    margin: 10px;
}

#window-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

